@import "tailwindcss";


h1 {
  font-size: 1.75em;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}



body {
  background-image: url('../Images/spark.png');
  background-size: cover;
  background-position: center, absolute;
  background-attachment: fixed;
  bottom: 100%;
  overflow: scroll;
}

img {
  width: 10%;
  height: auto;
  display: block;
  top: 10px;
  left: -5px;
  position: fixed !important;
}


/* Style the navigation bar */
.navbar {
  position: fixed, important;
  width: 100%;
  height: 67px;
  background-color: #f0f0f0;
}



ul {
  list-style-type: none;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  justify-content: space-between;
}

li {
  float: left;
}

li a {
  display: flex;
  color: rgb(1, 1, 1);
  text-align: center !important;
  left: 100px;
  padding: 20px 10px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-right: #666161 1px solid;
}

li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  background-size: 200% auto;
  transition: all .5s;
  transform: translateX(-100%);
}

li a:hover::after {
  transform: translateX(0%);
  animation: gradient-89 3s linear infinite;
}



@keyframes gradient-89 {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.container {
  position: absolute;
  top: -32px;
  width: 100%;
  left: 150px;
  padding: auto;
  position: fixed !important;
  bottom: fit-content;
  /* overflow: scroll; */

}